mat-toolbar {
  height: 69px;
  background: #FCFCFC;
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: 700;

  }

}