.poll-item {

  mat-card {
    background: #FCFCFC;
    border: 1px solid #E4E4E4;
    border-radius: 2px;

    mat-card-header {
      border-bottom: 1px solid #E4E4E4;

      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #505050;
        margin-left: 10px;
      }
    }

    mat-card-content {
      margin-top: 40px;
    }
  }
}