.poll-item {
  width: 100%;

  mat-card {
    background: #FCFCFC;
    border: 1px solid #E4E4E4;
    border-radius: 2px;

    mat-card-header {
      border-bottom: 1px solid #E4E4E4;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #505050;

      h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #505050;
        margin-left: 10px;
      }
    }



    .item-total {
      display: flex;
      justify-content: flex-end;

      h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #505050;
        margin: 51px 51px 12px 0;
      }
    }

    mat-card-content {
      display: flex;
      margin-top: 40px;

      app-pie-chart {
        width: 50%;
      }

      app-bar-chart {
        width: 50%;
      }
    }
  }
}